In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./datasets/ASSISTments2009/train_valid.csv")
df.head(6)

,fold,uid,questions,concepts,responses,is_repeat
0,0,3675,"11666,8406,11471,10543,7571,15890,8117,11023,1...","62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,1...","0,0,0,1,1,1,1,1,0,0,0,1,1,0,0,1,0,0,1","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"
1,0,3651,"2941,11778,1141,1282,3287,3411,840,1952,11540","1,1,1,1,1,1,1,1,1","0,0,1,1,1,1,0,0,1","0,0,0,0,0,0,0,0,0"
2,0,1692,"10349,11182,7926,7900,7906,7137,10923","57,57,57,57,57,57,57","1,0,1,1,1,1,1","0,0,0,0,0,0,0"
3,0,3076,"2549,830,4313,1826,15138,4687,4632,13791,15137...","15,15,15,15,14,14,14,14,14,14,14","0,1,1,0,0,1,1,0,1,0,1","0,0,0,0,0,0,0,0,0,0,0"
4,0,1558,"7927,7928,10084,10923,15540,15541,15542,15543,...","57,57,57,57,57,57,57,57,57,57,57,57,57,48","0,0,1,0,0,0,0,1,1,1,1,1,1,0","0,0,0,0,0,0,0,0,0,0,0,0,0,0"
5,0,1237,"832,832,939,939,2474,2474,4683,4683,4511,2158,...","51,52,51,52,51,52,51,52,45,57,57,57,57,57","0,0,1,1,1,1,1,1,0,1,0,1,1,1","0,1,0,1,0,1,0,1,0,0,0,0,0,0"

In [6]:
df_results = pd.read_csv("./saved_model/train_dkt+_ednet_qid_saved_model_42_0_0.2_256_0.001_0.001_0.003_3.0/qid_test_ratio0.9_False_predictions.txt", delimiter="\t")

/tmp/ipykernel_322996/3645060409.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_results = pd.read_csv("./saved_model/train_dkt+_ednet_qid_saved_model_42_0_0.2_256_0.001_0.001_0.003_3.0/qid_test_ratio0.9_False_predictions.txt", delimiter="\t")

In [7]:
df_results.head()

,0,5920,0.1,8,8.1,"[44, 34, 9, 22, 19, 37, 15, 22]","[1, 1, 1, 1, 0, 0, 0, 0]","[34, 9, 22, 19, 37, 15, 22, 9]","[1, 1, 1, 0, 0, 0, 0, 0]",0.2,0.5217756032943726,1
0,0,5920,8.0,|,0.521776,0.5217756032943726,0.5217756032943726,NaN,NaN,NaN,NaN,NaN
1,1,4146,0.0,28,66.000000,"[58, 56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8...","[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8, 85...","[0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.215071,0.0
2,1,4146,1.0,28,66.000000,"[58, 56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8...","[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8, 85...","[0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.099891,0.0
3,1,4146,2.0,28,66.000000,"[58, 56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8...","[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8, 85...","[0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.031595,0.0
4,1,4146,3.0,29,66.000000,"[58, 56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8...","[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[56, 5, 98, 60, 7, 99, 60, 7, 2, 100, 5, 8, 85...","[0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",0.0,0.215071,0.0