In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/Azota/ai_kt.csv")
df.head()

   exam_id  question_id   user_id  correct  attribute_value
0  6745844    197758199  85831478        1              333
1  6745844    197758207  85831478        1              318
2  6745844    197758197  85831478        1              279
3  6745844    197758202  85831478        1              331
4  6745844    197758213  85831478        1              512

In [3]:
users = df["user_id"].unique().tolist()
exams = df["exam_id"].unique().tolist()
concepts = df["attribute_value"].unique().tolist()
questions = df["question_id"].unique().tolist()
len(users), len(exams), len(concepts), len(questions)

(5889, 286, 547, 23979)